@import 'tailwindcss';
@import 'ngx-toastr/toastr';

@theme {
  /* Couleurs*/
  --color-jobtracker-primary: #286cf5;
  --color-jobtracker-secondary: #f5a623;
  --color-jobtracker-background: #f9f9fa;
  --color-jobtracker-bg-gray: #f3f4f6;
  --color-jobtracker-text: #333333;
  --color-jobtracker-text-secondary: #6b7280;
  --color-jobtracker-border: #eceae4;

  /* Couleurs pour le mode sombre*/
  --color-jobtracker-dark-background: #121212;
  --color-jobtracker-dark-surface: #1e1e2f;
  --color-jobtracker-dark-text: #e5e7eb;
  --color-jobtracker-dark-text-secondary: #9ca3af;
  --color-jobtracker-dark-primary: #4c8bf5;
  --color-jobtracker-dark-secondary: #f5a623;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  @keyframes fade-slide {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-fade-slide {
    animation: fade-slide 0.9s ease-in-out;
  }
}

/* Container principal */
#toast-container > div {
  width: fit-content;
  --toast-timeout: 3s;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.95;

  /* Animation entrée/sortie */
  animation: slideInTop 0.5s ease-out, slideOutTop 0.5s ease-in forwards;
  animation-delay: 0s, calc(var(--toast-timeout) - 0.4s);
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}

/* Toast succès */
.toast-success {
  background-color: #28a745 !important;
  color: white;
}

/* Toast erreur */
.toast-error {
  background-color: #dc3545 !important;
  color: white;
}

/* Toast info */
.toast-info {
  background-color: #007bff !important;
  color: white;
}

/* Progress bar */
#toast-container > div .toast-progress {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Animation entrée */
@keyframes slideInTop {
  from {
    transform: translateY(-200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation sortie */
@keyframes slideOutTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-200%);
    opacity: 0;
  }
}
