@import 'tailwindcss';

@theme {
  /* Couleurs*/
  --color-jobtracker-primary: #286CF5;
  --color-jobtracker-secondary: #F5A623;
  --color-jobtracker-background: #F9F9FA;
  --color-jobtracker-bg-gray:#F3F4F6;
  --color-jobtracker-text: #333333;
  --color-jobtracker-text-secondary: #6B7280;
  --color-jobtracker-border: #ECEAE4;

  /* Couleurs pour le mode sombre*/
  --color-jobtracker-dark-background: #121212;
  --color-jobtracker-dark-surface: #1E1E2F;
  --color-jobtracker-dark-text: #E5E7EB;
  --color-jobtracker-dark-text-secondary: #9CA3AF;
  --color-jobtracker-dark-primary: #4C8BF5;
  --color-jobtracker-dark-secondary: #F5A623;
}

@custom-variant dark (&:where(.dark, .dark *));
